::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--black);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--green);
  transition: 0.3s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0a6d2e;
}
.main.MuiBox-root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.main-head.MuiBox-root {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  height: 100vh;
}
.container.MuiBox-root {
  flex-grow: 1;
  height: 100%;
  min-height: 85vh;
}
footer {
  min-height: 5vh;
  /* position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999; */
}
.top-contact-btn.MuiButton-root {
  text-transform: capitalize;
}
.top-contact-btn.MuiButton-root:hover {
  background-color: var(--green);
}
.top-contact-btn.MuiButton-root a {
  text-decoration: none;
  color: #ffffffff;
}
/* headerpage */
.email-mob.MuiBox-root {
  display: flex;
  gap: 10px;
  align-items: center;
}
.email-mob.MuiBox-root .css-78trlr-MuiButtonBase-root-MuiIconButton-root {
  color: var(--black);
  border: 2px solid var(--black);
  padding: 5px;
  transition: 0.2s all;
}
.email-mob.MuiBox-root:hover .css-78trlr-MuiButtonBase-root-MuiIconButton-root {
  color: var(--white);
  border: 2px solid var(--green);
  background-color: var(--green);
}

.email-mob.MuiBox-root a {
  text-decoration: none;
  color: var(--black);
  font-family: Poppins-Medium;
  font-size: 12px;
  text-align: center;
}
.email-mob.MuiBox-root:hover a {
  color: var(--green);
}
.header-svg-box.MuiBox-root a .fb,
.header-svg-box.MuiBox-root a .wa,
.header-svg-box.MuiBox-root a .in {
  color: var(--black);
  cursor: pointer;
  transition: 0.3s all;
}
.header-svg-box.MuiBox-root a .fb:hover {
  color: #1877f2;
  transform: scale(1.2);
}
.header-svg-box.MuiBox-root a .wa:hover {
  color: #25d366;
  transform: scale(1.2);
}
.header-svg-box.MuiBox-root a .in:hover {
  color: #e4405f;
  transform: scale(1.2);
}
nav.nav-button {
  display: flex;

  align-items: center;
  gap: 50px;
}
nav.nav-button a {
  text-decoration: none;
}
.nav-button a.active {
  color: var(--black);
  font-family: Poppins-Medium;
  font-size: 1.5vw;
  transition: 0.3s all;
}
.nav-button a.active:hover {
  color: var(--green);
}
.nav-button a.active::after {
  content: "";
  margin: auto;
  display: block;
  height: 2px;
  width: 0%;
  background-color: transparent;
  /* transition: width 0.5s ease,background-color 0.5s ease; */
  transition: all 0.3s ease;
}
.nav-button a.active:hover::after {
  width: 100%;
  background-color: var(--green);
}
nav.nav-button-mobile {
  display: flex;

  align-items: center;
  gap: 50px;
}
nav.nav-button-mobile a {
  text-decoration: none;
}
.nav-button-mobile a.active {
  color: var(--black);
  font-family: Poppins-Medium;
  font-size: 10px;
  transition: 0.3s all;
}
/* .nav-button a.active::before {
  content: "";
  border: 2px solid #000000;
} */

/* Footer */
.icon-btn.MuiIconButton-root {
  color: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  /* transform: scaleX(-1); */

  transition: all 0.3s;
}
.icon-btn.MuiIconButton-root:hover {
  background-color: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  color: #ffffffff;
  transform: scale(1.2);
  /* animation: flip 0.5s linear; */
}
.image-container.MuiBox-root {
  height: 600px;
}
.image-container img {
  width: 100%;
}
.book-trip-btn.MuiButton-root {
  border-radius: 0;

  text-transform: capitalize;
  background-color: var(--white);
  color: var(--black);
  border: 2px solid var(--white);
  transition: 0.2s all;
}
.book-trip-btn.MuiButton-root:hover {
  color: var(--white);
  background-color: transparent;
}
.aboutus-text::after {
  content: "";
  margin: auto;
  display: block;
  height: 5px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 20px;

  /* color: red; */
}
.about-company.MuiTypography-root span {
  background-color: var(--green);
  transform: skew(-20deg, 0deg);
  display: inline-flex;
  width: 4px;
  height: 15px;
  position: relative;
  margin-left: 20px;
  margin-right: 10px;
}
.about-company.MuiTypography-root {
  color: var(--green);
  font-family: Barlow-Bold;
}
.about-company.MuiTypography-root span::before,
.about-company.MuiTypography-root span::after {
  background-color: var(--green);
  content: "";
  width: 4px;
  height: 100%;
  position: absolute;
  right: 8px;
  top: 0;
  opacity: 0.8;
}
.about-company.MuiTypography-root span::after {
  right: 16px;
  opacity: 0.5;
}
.learnmore-btn.MuiButton-root {
  background-color: var(--green);
  color: var(--white);
  text-transform: capitalize;
  font-family: Poppins-Regular;
  transition: 0.2s all;
}
.learnmore-btn.MuiButton-root:hover {
  background-color: #0a6d2e;
}
.learnmore-btn.MuiButton-root:hover .arrow-icn {
  transform: translateX(10px);
}
.card-trip.MuiCard-root .card-img{transition: 0.2s all;}
.card-trip.MuiCard-root:hover .card-img {
  transform: scale(1.1);
}
